.documentContainer {
  height: calc(100vh - 185px - 65px);
  width: 100%;
}

.pagesWrapper {
  height: auto !important;
  padding: 30px 70px;
  overflow-y: scroll;
  background-color: #efefef;
  overflow-x: hidden !important;
  width: 820px;
}

.pagesWrapper > :first-child {
  margin-top: 0 !important;
}

.pageWrapper {
  position: relative;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.previewContainer {
  background-color: #efefef;
  width: 162px;
  overflow-y: scroll;
  margin-top: 30px;
}

.previewPageWrapper {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1rem;
  cursor: pointer;
}

.previewFooter {
  width: 100%;
  padding: 4px;
}

.react-pdf__Page__textContent {
  display: none;
}

.react-pdf__Page__annotations {
  display: none;
}